body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700px;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content {
  padding: 100px 90px;
}
.about-me {
  margin-bottom: 40px;
}

.about-me-proffesion {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}
.my-projects {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 17px;
  font-weight: bold;
}

.my-projects-item {
  color: black;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin: 0 0 10px 0;
}

.my-education-time,
.my-work-experience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 15px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-block {
  margin: 0 0 15px 0;
}

.my-education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts,
.tech-skills,
.soft-skills {
  margin: 50px 0 0 40px;
}

.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item,
.soft-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}
